html,
body {
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#index p,
h1 {
  text-align: center;
  color: rgb(56, 56, 56);
  margin: 50px 250px;
  text-shadow: 0.5px 1px 0 rgba(0, 0, 0, 0.3);
}

#index p {
  font-size: 17px;
  line-height: 1.8;
  margin: 50px 550px;
}

.standard_format {
  color: rgb(56, 56, 56);
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

br {
  margin-top: 35px;
  margin-bottom: 35px;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 18px;
  background-color: #333;
  overflow: visible;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-right-btn {
  position: absolute;
  right: 12px;
  top: 49%;
  transform: translateY(-50%);
  overflow: hidden;
}

.nav-right-btn:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.navbar a:hover,
.dropdown:hover,
.dropbtn {
  background-color: #3d3d3d;
}

.navbar a.active {
  background-color: #D81159;
  color: white;
  padding: 14px 30px;
  font-size: 20px;
}

.navbar a.active:hover {
  background-color: #bd0649;
  color: white;
}

.nav-title {
  margin: 0;
  padding: 10px 20px;
  color: #f2f2f2;
  font-size: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  line-height: 1.4
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3d3d3d;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.videos {
  color: rgb(56, 56, 56);
  /* display: block; */
  margin: 0 auto;
  width: fit-content;
}

#footer,
footer {
  color: rgb(56, 56, 56);
  margin-top: auto;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.basicLightbox__placeholder img {
  max-width: 90vw;
  max-height: 90vh;
}

.bl-open {
  overflow: hidden;
}

#weather {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

  height: auto;
  min-height: 200px;
  margin: 20px 500px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  background-image: linear-gradient(to right top, #99bbcb, #a5c7d7,
      #b1d4e2, #bde0ee, #c9edfa);
}

#weather h1 {
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
  color: #fff;
}

#weather.sunny {
  background-image: linear-gradient(to right top, #ff4e50, #ff713e,
      #ff932b, #ffb41d, #f9d423);
}

#weather.cloudy {
  background-image: linear-gradient(to right top, #63747c, #71858e,
      #7f96a0, #8da8b2, #9bbac5);
}

#weather.rainy {
  background-image: linear-gradient(to right top, #637c7b, #718e8c,
      #7ea09e, #8db2b0, #9bc5c3);
}

#nasa {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: rgb(56, 56, 56);
  text-shadow: 0.5px 1px 0 rgba(0, 0, 0, 0.3);

  margin: 50px 300px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nasa small {
  margin: 15px;
}

#nasa-form {
  margin: 10px;
  padding: 20px 50px;
  background: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#nasa-form label {
  font-size: 20px;
  font-weight: 500;
  color: rgb(56, 56, 56);
  ;
}

#nasa-form input[type="date"] {
  font-family: inherit;
  font-size: 18px;
  padding: 8px 12px;
  border: 2px solid #4d4d4d;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease;
}

#nasa-form input[type="date"]:focus {
  border-color: #ac0251;
}

#description-nasa {
  line-height: 1.8;
  padding: 25px 15px;
}