html,
body {
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
  font-family: 'Bookman', 'URW Bookman L', serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Add a black background color to the top navigation */
.navbar {
  font-size: 18px;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover,
.dropdown:hover,
.dropbtn {
  background-color: #3d3d3d;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #D81159;
  color: white;
}

.nav-title {
  margin: 0;
  padding: 10px 20px;
  color: #f2f2f2;
  font-size: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  /* So dropdowns work */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3d3d3d;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.videos {
  color: rgb(56, 56, 56);
  /* display: block; */
  margin: 0 auto;
  width: fit-content;
}

#footer,
footer {
  color: rgb(56, 56, 56);
  margin-top: auto;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.leerpunten {
  color: rgb(56, 56, 56);
  text-align: center;
  font-size: 18px;
}

.leerpunten p{
  max-width: 1000px; /* or your preferred width */
  margin-left: auto;
  margin-right: auto;
}

br {
  margin-top: 35px;
  margin-bottom: 35px;
}